{% extends "base.html" %}

{% block content %} 
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image_file }}">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>

        <article class="media content-section">
    
            <div class="media-body">
            
            <div class="article-metadata">
            
            <h2 class="article-title">{{ contact.name }}</h2>
            
            <small class="text-muted">{{ contact.phone }}</small><br>
    
            <small class="text-muted">{{ contact.email }}</small><br>

            <small class="text-muted">{{ contact.notes }}</small>
            
            
        </article>

        {% if contact.user_id == current_user.id %}
        <div class="content">
           <div><a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_contact', id=contact.id) }}">Update</a></div>
           <div><form action="{{ url_for('delete_contact', id=contact.id)}}" method='POST'><input class="btn btn-danger btn-sm" type="submit" value="Delete"></div>
           
        </div>
      {% endif %}
            
       
    </div>
{% endblock %}